*{
    user-select: none;
    /* 无法选中，整体感更强 */
}

body{
    background: url(./wallpaper.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login{
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
    /* absolute居中的一种方法 */
    background-color: whitesmoke;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    text-align: center;
    padding: 5px 40px;
    box-sizing: border-box;
    /* 这样padding就不会影响大小 */
}

p{
    font-size: 32px;
    font-weight: 600;
}

input{
    background-color: whitesmoke;
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid silver;
    /* 下面的会覆盖上面的步伐 */
    outline: none;
    font-size: 22px;
}

.btn{
    background-color: #59c2c5;
    width: 38%;
    height: 48px;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 600;
    color: white;
}
.btn:hover{
    background-color: #59c2a0;
}

.error {color: #FF0000;}

.btn-space {
    margin-right: 20px;  
    display: inline-block;  
}

#deleteInputs{
    display: none;
}

#changeInputs{
    display: none;
}

select {
    width: 50%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    text-align-last:center;
    -moz-text-align-last:center; 
}
  
select:focus {
    border-color: #4CAF50;
    outline: none;
}
  
select::-ms-expand {
    display: none;
}
  
select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #ddd;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
  
select:hover::after {
    background: #ccc;
}

.sp{
    font-size:20px;
}
  